<a href="https://colab.research.google.com/github/GiteshWagh/Experiment_No.9-Pandas-in-python/blob/main/Experiment_No_9__Study_Of_Pandas_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Experiment 9 : Tools For Exploratory Data Analysis - Pandas

# Name - Gitesh Wagh
# PRN - 25070123163
# Branch - F.Y. E&TC (2025-29)
# Batch - A1
# Subject - Exploratory Data Analysis With Python

In [ ]:
# Basics of Pandas
# Pandas : Panel Data

import pandas as pd # Importing pandas
series = pd.Series([11,22,33,44,55]) # Creating series
print(series) # Printing the created series

series1 = pd.Series([11,22,33,44,"55"])
print(series1)

# Creating DataFrame
data = {
    "Name" : ["a","b","c","d"],
    "Age" : ["11","22","33","44"],
    "Marks" : [44,55,66,77]
}

df = pd.DataFrame(data)
print(df)

print(df.head()) # Accessing first 5 rows
print(df.tail()) # Accessing last 5 rows

print(df.shape) # Gives the shape of the dataframe()

print(df.ndim) # Gives the dimensions of the dataframe

print(df.size) # Gives the size of the data frame (number of elements)

print(df.columns) # Gives the names of the columns

print(df.dtypes) # Gives the data types of the columns

# For accessing individual column
print(df["Name"]) # Printing the data of column Name
print(df["Age"])  # Printing the data of column Age
print(df["Marks"])  # Printing the data of column Marks

# For acessing specific rows
print(df.loc[0]) # Accessing first row
print(df.loc[1]) # Accessing second row
print(df.loc[2]) # Accessing third row

# For Adding New Column
df["Grade"] = ["A+","B+","C","Fail"]
print(df)

# For Updating The Data In Dataframe
df.loc[0,"Name"] = "Gitesh"
df.loc[0,"Age"] = "18"

print("\n",df)

# For Deleting The Column
df.drop("Grade",axis=1,inplace=True)
print("\n",df)

print(df["Marks"].mean()) # Mean of th perticular column data
print(df["Marks"].median()) # Median of th perticular column data
print(df["Marks"].min()) # Minimum value of th perticular column data
print(df["Marks"].max()) # Maximum value of th perticular column data

# Applying the conditions
df["Result"] = ["Pass" if marks >= 40 else "Fail" for marks in df["Marks"]] # Adding new columns with conditions applied
print(df)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0    11
1    22
2    33
3    44
4    55
dtype: object
  Name Age  Marks
0    a  11     44
1    b  22     55
2    c  33     66
3    d  44     77
  Name Age  Marks
0    a  11     44
1    b  22     55
2    c  33     66
3    d  44     77
  Name Age  Marks
0    a  11     44
1    b  22     55
2    c  33     66
3    d  44     77
(4, 3)
2
12
Index(['Name', 'Age', 'Marks'], dtype='object')
Name     object
Age      object
Marks     int64
dtype: object
0    a
1    b
2    c
3    d
Name: Name, dtype: object
0    11
1    22
2    33
3    44
Name: Age, dtype: object
0    44
1    55
2    66
3    77
Name: Marks, dtype: int64
Name      a
Age      11
Marks    44
Name: 0, dtype: object
Name      b
Age      22
Marks    55
Name: 1, dtype: object
Name      c
Age      33
Marks    66
Name: 2, dtype: object
  Name Age  Marks Grade
0    a  11     44    A+
1    b  22     55    B+
2    c  33     66     C
3    d  44     77  Fail

      Name Age  Marks Grade
0  Gitesh  18     44    A+
1       b  22     55    B+
2       c  33     66     C
3       d  44     77  Fail

      Name Age  Marks
0  Gitesh  18     44
1       b  22     55
2       c  33     66
3       d  44     77
60.5
60.5
44
77
     Name Age  Marks Result
0  Gitesh  18     44   Pass
1       b  22     55   Pass
2       c  33     66   Pass
3       d  44     77   Pass